main { 
	width: 100vw;
	z-index: 10;
	height: 60px;
	overflow: hidden;
	background-color: white;
	font-family: 'Roboto';
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }

section	{ width: 1170px; margin: 0 auto; padding: 15px; box-sizing: border-box; }

span { font-size: 1.3em; color: #55acee; }
mat-icon { color: #55acee; font-size: 1.3em; padding-top: 5px; cursor: pointer; }
nav { float: right; }

ul { list-style-type: none; list-style: none; line-height: 10%; }
li { float: left; margin-left: 40px; font-size: 1em; font-weight: bold; color: rgba(0,0,0,0.54); cursor: pointer;}

 @media only screen and (max-width: 1024px) {
    main { width: 100vw; padding: 0; }
    section { width: 100vw; }
    span { width: auto; }
    li {  }
}