<navbar></navbar>

<header>
    <img src="http://www.kodefork.com/static/users/images/user.png" alt="">
    <section *ngIf="loadState">
        <h3>{{ profile.tweets[0].owner.realname }}</h3>
        <b>{{ profile.followers?.length }} Seguidor<span *ngIf="profile.followers.length > 1 || profile.followers.length == 0">es</span></b>
        <p>
            <button mat-raised-button *ngIf="btnState.follow" color="primary" (click)="follow()">Seguir</button> <button mat-raised-button *ngIf="btnState.unfollow" color="warn" (click)="unfollow()">Deixar de seguir</button>
        </p>
    </section>
</header>

<tweet *ngFor="let tweet of profile.tweets" [post]="tweet"></tweet>