<navbar></navbar>

<header>
    <section *ngIf="loadState">
        <img src="http://www.kodefork.com/static/users/images/user.png" alt="">
        <h3>{{ profile.tweets[0].owner.realname }}</h3>
        

            <b (click)="changePage('posts')"><span>{{ profile.tweets?.length }}</span> Postagens</b> |
        
        <b (click)="changePage('followers')"><span>{{ profile.followers?.length }}</span> Seguidor<b *ngIf="profile.followers.length > 1 || profile.followers.length == 0">es</b></b> |
        <b (click)="changePage('following')"><span>{{ profile.following?.length }}</span> Seguindo</b>
        <p>
            <button mat-raised-button *ngIf="btnState.follow" color="primary" (click)="follow()">Seguir</button> <button mat-raised-button *ngIf="btnState.unfollow" color="warn" (click)="unfollow()">Deixar de seguir</button>
        </p>
    </section>
</header>
<div *ngIf="subpage === 'posts'">
    <tweet *ngFor="let tweet of profile.tweets" [post]="tweet"></tweet>
</div>

<div *ngIf="subpage === 'followers'">
        <profile-list *ngFor="let user of profile.followers" [user]="user"></profile-list> 
</div>

<div *ngIf="subpage === 'following'">
    <profile-list *ngFor="let user of profile.following" [user]="user"></profile-list> 
</div>

